.gameCapture {
	height: 328px;
}

#gameCapture1 {
	width: 426px;
	left: 0px;
	top: 0px;
}

#gameCapture2 {
	width: 421px;
	left: 429px;
	top: 0px;
}

#gameCapture3 {
	width: 426px;
	left: 854px;
	top: 0px;
}

#gameCapture4 {
	width: 426px;
	left: 0px;
	top: 391px;
}

#gameCapture5 {
	width: 421px;
	left: 429px;
	top: 391px;
}

#runInformationGameName {
	width: 426px;
	height: 61px;
	left: 854px;
	top: 401px;
	font-size: 21px;
}

#runInformationGameCategory {
	width: 426px;
	height: 44px;
	left: 854px;
	top: 515px;
	font-size: 21px;
}

#runnerInfo1 {
	width: 377px;
	height: 30px;
	left: 0px;
	top: 328px;
	font-size: 21px;
}

#runnerInfo2 {
	width: 308px;
	height: 30px;
	left: 487px;
	top: 328px;
	font-size: 21px;
}

#runnerInfo3 {
	width: 374px;
	height: 30px;
	left: 905px;
	top: 328px;
	font-size: 21px;
}

#runnerInfo4 {
	width: 377px;
	height: 30px;
	left: 0px;
	top: 361px;
	font-size: 21px;
}

#runnerInfo5 {
	width: 308px;
	height: 30px;
	left: 487px;
	top: 361px;
	font-size: 21px;
}

#timerContainer {
	width: 426px;
	height: 109px;
	left: 854px;
	top: 610px;
}

#timer {
	top: 4px;
	font-size: 62px;
}

#runInformationGameEstimate {
	top: 0px;
	font-size: 25px;
}

.nameHeader {
	font-size: 20px;
}

#gameNameHeader {
	left: 854px;
	top: 361px;
	width: 426px;
	height: 40px;
}

#categoryNameHeader {
	left: 854px;
	top: 475px;
	width: 426px;
	height: 40px;
}

#runnerNameHeader {
	width: 110px;
	height: 30px;
}

.runnerNameHeader1 {
	top: 328px;
	left: 377px;
}

.runnerNameHeader2 {
	top: 328px;
	left: 795px;
}

.runnerNameHeader3 {
	top: 361px;
	left: 377px;
}

#timerHeader {
	left: 854px;
	top: 570px;
	width: 426px;
	height: 40px;
}